# Pergunta 1
##
##Qual a quantidade de crianças Especiais que frequentaram em média por mês, para os eventos de domingo pela manhã, por organização, no primeiro semestre?

- Crianças especiais (dim_children)
- Domingo manhã (dim_events, tipo=1)
- Mês (dim_events)
- Organização (dim_children, dim_events)

In [0]:
#Apaga todas as tabelas do level3 diretório
dbutils.fs.rm('dbfs:/user/hive/warehouse/level3.db/tb_fato1', True)

Out[3]: True

In [0]:
%sql

--Gera a tabela fato1
USE level3;
DROP TABLE IF EXISTS tb_fato1;
CREATE TABLE tb_fato1 AS
SELECT org, mes, ano, tipo, CAST(avg(quant) AS DECIMAL(5,2)) as media
FROM (SELECT A.org, extract(DAY FROM B.evento) as dia, extract(MONTH FROM B.evento) as mes, extract(YEAR FROM B.evento) as ano, B.eventoTipo as tipo, count(*) as quant 
FROM dim_events B
INNER JOIN dim_children A ON (A.org = B.org AND A.mat = B.mat)
WHERE A.especial
GROUP BY A.org, dia, mes, ano, eventoTipo
ORDER BY org, tipo, ano, mes, dia)
GROUP BY org, ano, mes, tipo
ORDER BY org, ano, mes, tipo;

-- Select com a resposta a pergunta
SELECT * FROM tb_fato1 WHERE ano = 2024 AND mes < 7 AND tipo = 1
order by org, ano, mes;

org,mes,ano,tipo,media
ibarp,6,2024,1,1.00
ibatj,1,2024,1,1.67
ibatj,2,2024,1,2.75
ibatj,3,2024,1,2.33
ibatj,4,2024,1,3.67
ibatj,5,2024,1,4.00
ibatj,6,2024,1,3.00
ibazs,1,2024,1,3.75
ibazs,2,2024,1,3.67
ibazs,3,2024,1,3.25
ibazs,4,2024,1,4.50
ibazs,5,2024,1,3.00
ibazs,6,2024,1,5.25

###Conclusão
O resultado é coerente e mostra uma progreção, nas maiores organizações, da participação de crianças especiais. Essa visão é importante, pois suporta a organização no sentido de manter uma equipe adequada para acompanhar essas crianças.